{% extends 'base.html' %}

{% block content %}


{% if not request.user.is_authenticated %}    
<div class="container mt-3 mb-3">
    <div class="mb-3">
        <h1 class="mb-0">Register</h1>
        <p>Already registered? <a href="{% url 'login' %}"> <b>Login</b> </a></p>
    </div>

    <form method="POST" action="{% url 'register' %}">
        {% include 'parciais/_messages.html' %}
        {% csrf_token %}


        {% for visible_field in form.visible_fields %}
        <div class="fieldWrapper">
            
            
            {{ visible_field.label_tag }} <br>
            {{ visible_field }} <br>
            {{ visible_field.help_text }}
            
            {% if visible_field.errors %}
                <div class="alert alert-danger mt-3 mb-3">
                    {% for error in visible_field.errors %}
                        {{ error }} <br>
                    {% endfor %}
                </div>
            {% endif %}
            

            <hr>
        </div>
        {% endfor %}
            

        <input type="submit" value="Register" class="btn btn-dark">
    </form>
</div>

{% else %}
<div class="text-center mt-3 mb-3">
    <h1 class="mb-0">Você já está logado!!</h1>
    <a href="{% url 'agenda_index' %}">Página inicial</a>
</div>

{% endif %}

{% endblock content %}