{% extends 'base.html' %}


{% block content %}
      <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">{{ contato.name }} {{ contato.surname }}</h1>

        
        {% if contato.image %}
        <p>
            <img src="{{ contato.image.url }}" style="max-width: 250px; height: auto;">
        </p>
        {% endif %}
            

        <dl>
          <dt>ID</dt>
          <dd>{{ contato.id }}</dd>

          <dt>Telefone</dt>
          <dd>{{ contato.phone }}</dd>

          <dt>E-mail</dt>
          <dd>{{ contato.email }}</dd>

          <dt>Data criação</dt>
          <dd>{{ contato.date_creation }}</dd>

          <dt>Categoria</dt>
          <dd>{{ contato.category }}</dd>

          <dt>Descrição</dt>
          <dd>
            {{ contato.description }}
          </dd>
        </dl>
        <a href="{% url 'edit' contato.id %}" class="btn btn-dark mb-3">Editar contato</a>
        <a href="{% url 'delete' contato.id %}" class="btn btn-danger mb-3">Deletar contato</a>
      </div>
    </div>
  </div>
{% endblock content %}
    