{% extends 'base.html' %}


{% block content %}


{% if request.user.is_authenticated %}  

<h1 class="mt-5">Agenda de: {{ user.first_name }} </h1>


<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  {% for contato in contatos %}
  <tbody>
    <tr>
      <td>
        <a href="#">{{ contato.name }}</a>
      </td>
      <td>{{ contato.surname }}</td>
      <td>{{ contato.phone }}</td>
      <td>{{ contato.category }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <div class="text-center mb-3 mt-3">
    <h1 class="mb-0">Olá, usuário! Conecte-se para ver ou criar seus contatos.</h1>
    <p>
      Clique <a href="{% url 'register' %}"> <b>aqui</b> 
      </a> para se registrar ou <a href="{% url 'login' %}"> <b>aqui</b> </a> para logar
    </p>
  </div>
{% endif %}
{% endblock content %}